  <ul>
  <% @docs.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" method="post" action="/<%= file %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
  </ul>

  <div>
    <a href="/new">New Document</a>
  </div>

<% if session[:username] %>
  <form method="post" action="/users/signout">
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
    <form method="get" action="/users/signin">
      <button type="submit">Sign In</button>
    </form>

    <form method="get" action="/users/signup">
      <button type="submit">Sign Up</button>
    </form>
<% end %>


